<% @trips.each do |trip| %>
  <div class="container-sm mb-5">
    <p>
      <strong>Name:</strong>
      <%= trip.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= trip.description %>
    </p>

    <p>
      <%= link_to "Show this trip", trip_path(trip.id) %>

    </p>
  </div>
<% end %>
