<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Trips</h1>

  <div id="trips" class="cards">
    <% @trips.each do |trip| %>
      <div class="card-envolve">
        <%= render 'trip_card', trip: trip %>
      </div>
    <% end %>
  </div>
</div>
