<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Trips</h1>

  <div id="trips">
    <%# <% @trips.each do |trip| %>
      <%= render 'trips'%>
    <%# <% end %>
  </div>

</div>
