<div class="container-sm mb-5">
  <p style="color: green"><%= notice %></p>
    <h3 class='d-flex justify-content-start'></h3>
      <%= render 'trip' %>
      <%= render 'stops/stop' %>
      <%# <%= link_to "Edit this stop", edit_stop_path(stop) %>
</div>
