<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>My favorites</h1>

  <div id="trips" class="cards">
    <% @favorite_trips.flatten.each do |trip| %>
      <div class="card-grid">

        <div class="card-envolve">
          <%= render 'trips/trip_card', trip: trip %>
        </div>
      </div>
    <% end %>

  </div>

</div>
