<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>My favorites</h1>

  <div>

  <% @favorite_trips.flatten.each do |trip| %>
    <div>
      <div class="container-heart">
        <p>Created by <%= link_to trip.user.name, user_path(trip.user) %></p>

        <%= button_to toggle_favorite_trip_path(trip), method: :post, class: "icon-heart"  do %>
          <i class="fa-solid fa-heart"></i>
        <% end %>
      </div>

      <div class="card-envolve">
        <%= render 'trips/trip_card', trip: trip %>
      </div>
    </div>
  <% end %>

</div>
