.forms-bg {
  background: #EDDECC;
  padding: 40px;
  border-radius: 4px;

  .form-control {
    border: none;
    max-width: 60% !important;
  }
}

.container {
  margin: 50px auto;
  max-width: 88%;
}

.searchform input#query {
  border-radius: 4px 0 0 4px;
}

.searchform input.btn.btn-primary {
  border-radius: 0 4px 4px 0;
}

.name-heart {
  align-items: flex-end;
    margin-top: -28px;
    margin-bottom: 14px;

      button {
        background: transparent;
        border: none;
        font-size: 29px;
    }

}

.trips-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40px;
  margin: 0;
  font-size: 24px;
  background-color: $tripred;
  float: right;
  position: sticky;
  top: 35.8%;
  box-shadow: 0px 0px 5px #c9c8c8;
  z-index: 1;

  a {
    color: white;
    font-size: 20px;
  }

  .fa-trash-can {
    color: white;
    font-size: 20px;
  }

  .delete_stop {
    padding-left: 0 !important;
  }
}

.stops-links {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 0 0 0 0;
  }

.delete_stop {
  padding: 0;
  border: none;
  background: none;
  font-size: 15px;
  color: #BF5E2D;
  padding-left: 4px;
}

.container stop {
  display: flex;
  justify-content: first baseline;
}
