.tripuser {
  float: left;
  background-color: #ffffff;
  padding: 6px 10px;
  border-radius: 44px;
  position: absolute;
  left: 16px;
  bottom: 16px;
  font-size: 14px;

  a {
    color: #000000;
  }

  img {
    height: 32px;
    border-radius: 50%;
  }
}

.card-category {
  position: relative;
}

.show-image {
  max-width: 100%;
  border-radius: 4px;
  height: 350px;
  object-fit: cover;
}

.trip-details {
  background-color: #ffffff;

  .fa-solid {
    margin-right: 8px;
  }

  p {
    line-height: 2;
  }
}

.fa-heart {
  color: $tripred;
}

.trip-description {
  background-color: #ffffff;

  .form-label {
    font-size: 14px;
  }

  .form-select {
    border: none;
    font-size: 14px;
  }

  .form-control {
    border: none;
    font-size: 14px;
  }

}




.card-header {
  padding: 0;
}

.stoprow {
  background-color: #f6f6f6;
  margin-bottom: 20px;
}


.list-group-item {
  background: transparent;
  border: none;
  padding: 10px 0;
}

li.list-group-item:nth-child(2) {
  padding: 0;
}


.list-group:last-child {
  border-bottom: none !important;
}

.stoprow {
  padding-bottom: 5px !important;
}


.icons-stops {
  color: #9e9999;
}

.pin-stops {
  color: $tripred;
  font-size: 14px;
}

.position-absolute {
  background-color: $tripred;
  padding: 10px;
  border-radius: 4px 0 0 4px;
}


.row.mt-4.mb-4.p-4.trip-description {
  width: 100%;
  margin: 0 auto;
}


.trip-description .reviews-box:last-child {
  border-bottom: none !important;
}
