<div class="container">
  <h1>Hello, <%= @user.name %>! </h1>


  <%= @user.avatar.key %>

  <div id="trips" class="cards">
    <% @trips.each do |trip| %>
      <div class="card-envolve">
        <%= render 'trips/trip_card', trip: trip %>
      </div>
    <% end %>
  </div>
</div>
