<div class="container-sm mb-5">
  <h5 class='d-flex justify-content-start'>
        <strong>Itinerary</strong>
  </h5>

  <% @stops.each do |stop| %>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><%= stop.date %></div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> <%= stop.address %></li>
          <li class="list-group-item"> <%= stop.description %></li>
          </ul>
        </div>

      </div>
  <% end %>

</div>
