<% @trip.stops.each do |stop| %>
  <div>
    <p>
      <strong>Address:</strong>
      <%= stop.address %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= stop.date %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= stop.description %>
    </p>
  </div>
<% end %>
