<% @stops.each do |stop| %>
  <div class="container-sm mb-5">
    <p>
      <strong>Address:</strong>
      <%= stop.address %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= stop.date %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= stop.description %>
    </p>
  </div>
  <% end %>
