.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 20px;
  font-size: 12px;
  margin-top: 16px;
}

.card-name.d-flex.flex-column img {
  max-width: 50%;
}

.card-image {
  width: 100%;
  margin: 0 auto;
  height: 136px;
  object-fit: cover;
}

.card-name {
  margin-top: -4px;
  margin-bottom: 10px;
}

.card-description {

  padding: 8px;
}

a {
  text-decoration: none;
}

p {
  text-decoration: none;
  margin: 0;
}

.card-envolve {
  box-shadow: 1px 4px 6px #8080808c;
  padding: 0;
  border-radius: 4px;
  height: auto;
}

.card-grid {
  grid-template-columns: 1fr 1fr;
}

.big-container {
  position: relative;
}


// Devices Configurations
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
