body {
  padding-top: 60px;
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li {
  list-style-type: none;
}

#icon-navbar-bottom {
  justify-content: center;

}

.nav-item {
  margin-left: 34px;
  margin-right: 34px;
}

.fixed-bottom {
  background-color: #fff;
}
