  <div class="row mt-4 mb-4 p-4 trip-description">
    <h2>Rate this trip</h2>
    <div class="col col-4">
      <%= simple_form_for [@trip, @review] do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, value: "1 Star" %>
    </div>
    <div class="col col-8">
      <%= f.input :content %>
    </div>
    <div class="col col-12">
      <%= f.submit "Send your review", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
